body {
  margin: auto;
}

h3 {
  color: white;
}

.col {
  background-color: white;
  height: 100vh;
}

.col-6 {
  background-image: url(../img/skybg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#form {
  padding: 100px;
  padding-top: 15px;
}

#form > input {
  display: block;
}

#dropmenu {
  display: block;
}
